### Installing Libraries and Configuring Kaggle API

In [1]:
# Common libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Additional packages to connect to Kaggle API
!pip install ipython-sql kaggle sqlalchemy psycopg2

In [2]:
# Database connectors
import psycopg2

In [3]:
from sqlalchemy import create_engine

In [ ]:
# This creates a hidden holder in home directory
# Necessary for connecting to Kaggle's API
!mkdir ~/.kaggle

In [4]:
# Download from Kaggle's API
!kaggle datasets download -d najir0123/walmart-10k-sales-datasets -p {data_dir} --unzip

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/nylehamidi/.kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/najir0123/walmart-10k-sales-datasets
License(s): MIT
Downloading walmart-10k-sales-datasets.zip to {data_dir}
  0%|                                                | 0.00/143k [00:00<?, ?B/s]
100%|█████████████████████████████████████████| 143k/143k [00:00<00:00, 175MB/s]

### Data Exploration

In [5]:
# Store downloaded dataset to a data frame
df = pd.read_csv('/Users/nylehamidi/Documents/Research/portfolio_project2/{data_dir}/Walmart.csv', encoding_errors='ignore')
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [6]:
# Perform gut check 
# Check that counts are the same across all fields 
# Check that data types are appropriate 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [7]:
# Check for NULLS
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [8]:
# Check for duplicates 
df.duplicated().sum()

51

### Data Cleaning

In [9]:
# OBSERVATIONS
# City and Branch are unnecessarily capitalized
# unit_price should be float
# quantity and unit_price are both missing 31 records
# 51 duplicates 
# Could create a datetime column using date and time columns

In [10]:
# Make all columns lowercase
df = df.rename(columns={
    "Branch": "branch",
    "City": "city"})
df.head()

# Could also use df.columns = df. columns.str.lower(), but I prefer specifying which columns to affect and how

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [11]:
# Convert unit_price to float
# df['unit_price'].astype(float) does not work because of the '$'
# Remove '$', then convert to float
df['unit_price'].str.replace('$', '').astype(float)

# Replace data with '$' with new float values
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   branch          10051 non-null  object
 2   city            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  float64
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 863.9+ KB

In [12]:
# Drop or replace NULLS
# Without unit_price and quantity, incomplete records are not useful
# Drop NULLS
df.dropna(inplace=True)
df.isnull().sum()

invoice_id        0
branch            0
city              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [13]:
# Delete duplicates
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [14]:
df["date"] = pd.to_datetime(df["date"], format="%d/%m/%y")
df["time"] = pd.to_datetime(df["time"], format="%H:%M:%S").dt.time
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9969 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      9969 non-null   int64
 1   branch          9969 non-null   object
 2   city            9969 non-null   object
 3   category        9969 non-null   object
 4   unit_price      9969 non-null   float64
 5   quantity        9969 non-null   float64
 6   date            9969 non-null   datetime64[ns]
 7   time            9969 non-null   object
 8   payment_method  9969 non-null   object
 9   rating          9969 non-null   float64
 10  profit_margin   9969 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(5)
memory usage: 934.6+ KB

In [15]:
# Later analysis would benefit from a column that calculates the dollar amount of each invoice/order
df['total'] = df['unit_price'] * df['quantity']
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17

In [16]:
# Save cleaned, analysis-ready dataset  
df.to_csv("Walmart_Cleaned_Data.csv",index=False)

In [17]:
# Replace dataset with cleaned dataset
df = pd.read_csv('/Users/nylehamidi/Documents/Research/portfolio_project2/{data_dir}/Walmart_Cleaned_Data.csv', encoding_errors='ignore')
df.head()

,invoice_id,branch,city,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,2019-01-05,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,2019-03-08,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,2019-03-03,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,2019-01-27,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,2019-02-08,10:37:00,Ewallet,5.3,0.48,604.17

### Connecting Python and Postgres

In [18]:
engine_psql = create_engine("postgresql+psycopg2://postgres:password123@localhost:5432/project2")

try: 
    engine_psql
    print("connected")
except:
    print('no')

connected

In [19]:
df.to_sql(name='walmart', con=engine_psql, if_exists='append', index=False)

969